button.btn-main {
    color: #ffffff;
    background: #f04;
}
input.input-main {
    border: 0.1rem solid #f04;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group input {
    width: 80%;
}
.input-group button {
    width: 20%;
    height: 3.6rem;
}
#app {
    width: 21rem;
}
.search {
    width: 100%;
    margin: 1rem 0 1rem 0;
}
.search .input-page {
    width: 100%;
    box-sizing: border-box;
}
.month {
    margin: 0;
    font-size: 1.1rem;
}
.month .month-active {
    width: 12rem;
}
.month .month-selector a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
.month .month-active, .month .month-selector {
    display: inline-block;
    padding: 0.5rem;
}
.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    user-select: none;
}
.weekdays .day, .days .day {
    max-width: 200px;
    padding: 15px 5px 15px 5px;
}
.days {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.days .day {
    position: relative;
    cursor: pointer;
    transition: color, background 0.2s ease-in-out;
}
.days .day:not(.day-empty):not(.day-active):not(.has-matches):hover {
    color: #f04;
    background: rgba(0, 0, 0, 0.05);
}
.days .day.day-active {
    color: #ffffff;
    background: #f04;
}
.days .day.day-active.has-events::before {
    background: #ffffff;
}
.days .day.day-empty {
    cursor: initial;
}
.days .day.has-events::before {
    content: "";
    position: absolute;
    display: block;
    top: 0.4rem;
    left: 0.4rem;
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background: #f04;
}
.days .day.has-matches:not(.day-active) {
    background: rgba(255, 0, 0, 0.1);
    color: #f04;
}
.day-events{
    margin: 0;
    padding: 0px;
    list-style: none;
}
.day-events__item{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 15px;
}
.day-events__item::before{
    position: absolute;
    content: "";
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background: #f04;
    left: 0.3rem;
    top: 1.6rem;
}
.day-events__item-text{
    overflow: hidden;
    text-overflow: ellipsis;
}
.events-button{
    display: flex;
}
.events-button__item{
    padding: 0;
    padding-left: 5px;
}
.day-active .events-button__item--delete path{
    fill: #ffffff;
}
.day-active .events-button__item--edit path{
    stroke: #ffffff;
}
.day-active .day-events__item::before{
    background: #ffffff;
}

